{% extends "base.html" %}

<!-- Carousel Start -->
{% block carousel %}
   {% include "components/carousel.html" %}
{% endblock %}
<!-- Carousel End -->

<!-- About Start -->
{% block about_section %}
   {% include "components/about-section.html" %}
{% endblock %}
<!-- About End -->

<!-- Services Start -->
{% block service_section %}
   {% include "components/service-section.html" %}
{% endblock %}
<!-- Services End -->

<!-- Blog Start -->
{% block blog_section %}
   {% include "components/blog-section.html" %}
{% endblock %}
<!-- Blog End -->

<!-- Team Start -->
{% block team_section %}
   {% include "components/team-section.html" %}
{% endblock %}
<!-- Team End -->

<!-- Testimonial Start -->
{% block testimonial_section %}
   {% include "components/testimonial-section.html" %}
{% endblock %}
<!-- Testimonial End -->