{% extends "base.html" %}

<!-- Component Hero -->
{% block hero %} {% include "components/hero.html" %} {% endblock %}

<!-- All Services -->
{% block service_section %}
<div class="container-fluid service py-2">
  <div class="container py-5">
    <div
      class="text-center mx-auto pb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 800px"
    >
      <h4 class="text-primary">Nuestros Servicios</h4>
      <h1 class="display-4">¡Ofrecemos los Mejores Servicios!</h1>
    </div>
    <div class="row g-4 justify-content-center text-center">
      {% for service in services %}
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.{{ forloop.counter|add:1 }}s"
      >
        <div class="service-item bg-light rounded">
          <div class="service-img">
            <img
              src="{{ service.image.url }}"
              class="img-fluid w-100 rounded-top"
              alt="{{ service.name }}"
            />
          </div>
          <div class="service-content text-center p-4">
            <div class="service-content-inner">
              <a 
              href="#" 
              class="h4 mb-4 d-inline-flex text-start">
                <!-- <i class="fas fa-donate fa-2x me-2"></i> -->
                {{ service.name }}
              </a>
              <p class="mb-4">{{ service.description|truncatewords:20 }}</p>
              <a class="btn btn-light rounded-pill py-2 px-4" href="{% url 'detail-service' service.uuid %}"
                >Leer más</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
