{% load static %}

{% block footer %} 
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">¿Quiénes somos?</h4>
                        <p class="mb-3">
                            En ATF, nuestro compromiso es garantizar una recaudación eficiente y transparente que impulse el desarrollo del país....
                        </p>
                    </div>
                </div>
                <div class="footer-btn text-start">
                    <a href="{% url 'about' %}" class="btn btn-light rounded-pill px-4">Conozca más</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">Explorar</h4>
                    <a href="{% url 'home' %}"><i class="fas fa-angle-right me-2"></i> Inicio</a>
                    <a href="{% url 'services-section' %}"><i class="fas fa-angle-right me-2"></i> Servicios</a>
                    <a href="{% url 'about' %}"><i class="fas fa-angle-right me-2"></i> Nosotros</a>
                    <a href="{% url 'blog' %}"><i class="fas fa-angle-right me-2"></i> Blog</a>
                    <a href="{% url 'team' %}"><i class="fas fa-angle-right me-2"></i> Nuestro Equipo</a>
                    <a href="{% url 'contact' %}"><i class="fas fa-angle-right me-2"></i> Contáctanos</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">Contáctanos</h4>
                    <a href="https://www.google.com/maps?ll=-3.259331,-79.961037&z=16&t=m&hl=es-419&gl=EC&mapclient=embed&q=3%C2%B015%2733.6%22S+79%C2%B057%2730.5%22W+-3.259333,+-79.958472@-3.2593333,-79.9584722" target="_blank"><i class="fa fa-map-marker-alt me-2"></i>Av. 25 de Junio, Machala, Ecuador</a>
                    <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin&ddm=0" target="_blank"><i class="fas fa-envelope me-2"></i> administracion@atf.com.ec</a>
                    <!-- <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a> -->
                    <a href="https://wa.link/6ok8fv" target="_blank"><i class="fab fa-whatsapp me-2"></i>+593 98 577 1046</a>
                   <!--- <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a> -->
                    <br><div class="d-flex align-items-center">
                        <a class="btn btn-light btn-md-square me-2" target="_blank" href="https://www.facebook.com/profile.php?id=100076059609089&locale=es_LA"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-md-square me-2" target="_blank" href="https://wa.link/6ok8fv"><i class="fab fa-whatsapp"></i></a>
                        <a class="btn btn-light btn-md-square me-2" target="_blank" href="https://www.instagram.com/rmnsoluciones?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item-post d-flex flex-column">
                    <h4 class="text-white mb-4">Últimas Publicaciones</h4>
                    {% for post in latest_post %}
                    <div class="d-flex flex-column mb-4">
                        <p class="text-uppercase text-primary mb-2">{{ post.title|truncatewords:4 }}</p>
                        <a href="{% url 'detail-blog' post.uuid %}" class="text-body text-dark">{{ post.description|truncatewords:7 }}</a>
                    </div>
                    {% endfor %}
                    <div class="footer-btn text-start">
                        <a href="{% url 'blog' %}" class="btn btn-light rounded-pill px-4">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="text-white mb-0">©ATF {{ current_year }}. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}