{% load static %}

<!-- Testimonial -->
<div class="container-fluid testimonial bg-light py-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="h-100 rounded">
                    <h4 class="text-primary">Opiniones de Nuestros Clientes</h4>
                    <h1 class="display-4 mb-4">Lo Que Dicen Nuestros Clientes</h1>
                    <p class="mb-4">Descubre cómo hemos ayudado a nuestros clientes a optimizar sus finanzas y cumplir con sus obligaciones tributarias de manera eficiente y profesional.</p>
                    <!--<a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Leer Todas las Opiniones <i class="fas fa-arrow-right ms-2"></i></a> -->
                </div>
            </div>
            <div class="col-xl-8">
                <div class="testimonial-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p class="mt-4">"Contratarlos fue la mejor decisión para mi empresa. Su conocimiento en temas tributarios es impresionante y siempre están disponibles para resolver cualquier duda. Estoy muy agradecida por su profesionalismo."</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5>María López</h5>
                                <p class="mb-0">Empresaria</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="{% static 'img/testimonial-1.jpg' %}" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p class="mt-4">"Gracias al equipo de esta empresa, logramos reducir significativamente nuestras multas tributarias. Nos ayudaron a organizar nuestras cuentas y presentar declaraciones a tiempo. Ahora tenemos total tranquilidad con el SRI."</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5>Laura Castillo</h5>
                                <p class="mb-0">Diseñadora Gráfica</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="{% static 'img/testimonial-2.jpg' %}" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p class="mt-4">"La asesoría tributaria que recibimos fue excelente. Antes era un caos manejar los impuestos de mi empresa, pero con su ayuda todo está al día y de forma transparente. Recomiendo sus servicios sin dudar."</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5>Jorge Pérez</h5>
                                <p class="mb-0">Consultor Financiero</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="{% static 'img/testimonial-3.jpg' %}" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
